<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content" id="main">
        <div class="sideimg">
          <img src="{{ site.baseurl }}/assets/avatar.JPG" alt="My Avatar" />
        </div>
        <div class="container content">
                {{ content }}
        </div>
      </div>

  </body>

</html>
