<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}

    <section class="home">
      <div class="wrap page-body">
        <div class="container content" id="main">
          <div class="sideimg">
            <img src="{{ "/assets/avatar-zine.png" | relative_url }}" alt="Zine-style portrait of Yulong Cao looking over a city" />
          </div>
          <div class="container content">
            {{ content }}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
